body {
    background: #0a0a0a url("images/banniere.png") center/cover no-repeat;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    margin: 0;
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: -1;
}


header, main, footer, .content {
    margin-top: 40px;
}

.title {
    color: white;
    text-align: center;
}

.focus-box {
    background: rgba(255,255,255,0.07);
    border: 1px solid rgba(255,255,255,0.15);
    padding: 22px;
    width: 260px;
    border-radius: 12px;
    backdrop-filter: blur(6px);
    margin: 0 auto;
}
.modes {
    margin-bottom: 18px;
}

.modes button {
    background: rgba(255,255,255,0.10);
    border: 1px solid rgba(255,255,255,0.25);
    padding: 8px 16px;
    margin: 0 6px;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.25s;
}

.modes button:hover {
    background: rgba(255,255,255,0.18);
    transform: translateY(-2px);
}

.modes button.active {
    background: #a970ff;
    border-color: #a970ff;
    color: black;
    box-shadow: 0 0 12px rgba(169,112,255,0.6);
}

#timer {
    font-size: 46px;
    font-weight: bold;
    margin: 15px 0;
}

.controls button {
    background: rgba(255,255,255,0.10);
    border: 1px solid rgba(255,255,255,0.25);
    padding: 8px 16px;
    margin: 0 6px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: 0.25s;
}

.controls button:hover {
    background: rgba(255,255,255,0.18);
    transform: translateY(-2px);
}

.controls button:active {
    transform: scale(0.95);
    background: rgba(255,255,255,0.25);
}




